.calendar{
    /* background: #691BCC; */
    /* color: #FFF; */
    width:100%;
    /* font-family: 'Oxygen'; */
    table-layout:fixed;
}

.calendar.purple{
    background:#913CCD;
}

.calendar.pink{
    background: #F15F74;
}

.calendar.orange{
    background: #F76D3C;
}

.calendar.yellow{
    background: #F7D842;
}

.calendar.green{
    background: #98CB4A;
}

.calendar.grey{
    background: #839098;
}

.calendar.blue{
    background: #5481E6;
}

.calendar-title th {
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    background: rgba(105, 27, 204, 0.05);
}

.calendar-header th {
    padding: 10px;
    text-align: center;
    background: rgba(105, 27, 204, 0.1);
}

.calendar tbody tr td{
    text-align: center;
    vertical-align: top;
    width: 14.28%;
}

.calendar tbody tr td.pad{
    background: rgba(255, 255, 255, 0.1);
}

.calendar tbody tr td.day{
}

.calendar tbody tr td.day div:first-child{
    padding:4px;
    line-height:40px;
    height:25px;
}

.calendar tbody tr td.day div:last-child{
    font-size:10px;
    padding:4px;
    min-height:25px;
}

.calendar tbody tr td.today{
    background: rgba(105, 27, 204, 0.7);
    color: #fff;
}

.calendar tbody tr td.mask-start,
.calendar tbody tr td.mask,
.calendar tbody tr td.mask-end {
    background: rgba(105, 27, 204, 0.5);
    color: #fff;
}