@charset "utf-8";

/*
Theme Name: BeEvent - Conference & Multi Event HTML Template
Author: WMD Team
Version:1.5
*/

/*===========================

 =  Table of Css
 
	1. General code
		1.1. Typography
		1.2. Button
		1.3. Space margins and padding
		1.4. Form
		1.5. Section-background-color & sectino-heading
		1.6. Overlay-color
		
	2. Header
	3. Intro { Banner CSS}
		3.1. Default Background image
		3.2. Video Background
		3.3. Background Slideshow
	4. Countdown
	5. About Conference 
	6. conference info
	7. Speaker
	8. Schedule
	9. Pricing
	10. FAQ
	11. Newsletter
	12. Sponsors
	13. Conference Venue
	14. Footer
	15. Back to top
	16. Registration form
	17. Latest Blog
	18. Blog-Page & Blog Single page
	19. Elements
	20. Responsive CSS
                                                     
===========================*/



/*====================
	1. General code
==========================*/

body {
	font-family:'Roboto', sans-serif;
	margin:0px;
	padding:0px !important;
	overflow-x:hidden;
	color:#555555;
}

/*------------------
	1.1. Typography
--------------------------*/

h1, h2, h3, h4, h5, h6 {
	color:#111111;
	font-weight:700;
	margin:0 auto 30px;
}
h1 {
	font-size:64px;
}
h2 {
	font-size:54px;
	color:#222222;
}
h3 {
	font-size:44px;
	font-weight:700;
}
h4 {
	font-size:36px;
}
h5 {
	font-size:28px;
	font-weight:500px;
	line-height:32px;
}
h6 {
	font-size:20px;
	color:#555555;
}
p {
	font-size:18px;
	color:#555555;
	line-height:32px;
	font-weight:300;
}

a {
	transition-duration:0.5s;
	 -moz-transition-duration:0.5s;
	  -o-transition-duration:0.5s;
	   -webkit-transition-duration:0.5s;
	   -ms-transition-duration:0.5s;
	text-decoration:none;
	color:#de302f;
}
a:hover, a:focus {
	text-decoration:none;
	color:#de302f;
	outline:none;
}
ul, ol {
	/* margin:0 auto 20px; */
}
ul li, ol li {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  /* margin: 0 auto 10px; */
}
table {
	margin:0 0 30px;
}
table th, table td {
  border: 1px solid #ccc;
  padding: 15px;
}
.panel-body {
  color: #8f8f8f;
  font-size: 16px;
  line-height: 32px;
}
.panel-title a, .panel-title a.collapsed {
	color:#333;
	display:block;
	font-size:24px;
	line-height:70px;
	text-decoration:none;
}
.modal-header .close {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 29px;
  height: 40px;
  line-height: 10px;
  text-align:center;
  opacity: 1;
  position: absolute;
  right: -5px;
  top: -10px;
  width: 40px;
  padding: 10px;
}
.divider {
  border-bottom:#ccc solid 1px;
  float: left;
  height: 0px;
  margin: 20px 0;
  width: 100%;
}
.divider.dashed {
  border-bottom:#333 dashed 1px;
}
.divider.dotted {
  border-bottom:#333 dotted 1px;
}

.divider.double {
  border-bottom:#333 double 4px;
}
.alignleft {
  float: left;
  margin: 10px 20px 20px 0;
}
.alignright {
  float: right;
  margin: 10px 0 20px 20px;
}

/*-----------------
	1.2. Button
-------------------------*/

.btn {
	background:#de302f;
	border:medium none;
	border-radius:0;
	color:#fff;
	font-size:22px;
	font-weight:600;
	line-height:1;
	margin:auto;
	padding:20px 50px;
	text-transform:capitalize;
	-moz-transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
	-ms-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
}
.btn.btn-lg {
	font-size:44px !important;
	font-weight:600 !important;
	padding:50px 108px;
}
.btn-lg-boder-w {
	background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border:5px solid #ffffff;
	font-size:36px !important;
	font-weight:600 !important;
	line-height:60px;
	padding:15px 60px;
}
.btn:hover, .btn:focus {
	background-color:#de302f;
	color:#ffffff;
	outline:none;
}
.btn-lg-boder-w:hover {
	border:5px solid #de302f;
}
.btn-lg-boder-r {
	background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border:5px solid #de302f;
	font-size:36px !important;
	font-weight:600 !important;
	line-height:60px;
	padding:15px 60px;
	color:#222222;
}
.btn.btn-lg:hover {
	background:#c51514
}
.btn.btn-danger {
	background:#rgba(222, 48, 47, 1) !important;
}
.btn.btn-lg:after {
	font-size:44px;
}
.btn-link, .btn-link:hover {
	color:#de302f;	
}


/*-------------------------------------
	1.3. Space margins and padding
------------------------------------------------*/
.padding_none {
	padding:0px;
}
.padding {
	padding:20px 0;
}
.padding_4x4_30 {
	padding:30px;	
}
.padding_4x4_40 {
	padding:40px;	
}
.space-20 {
    width:100%;
    height: 20px;
	clear:both;
}
.space-30 {
    width:100%;
    height: 30px;
	clear:both;
}
.space-40 {
    width:100%;
    height: 40px;
	clear:both;
}
.space-60 {
    width:100%;
    height: 60px;
	clear:both;
}
.space-80 {
    height: 80px;
    width:100%;
}
.margin-btm-20 {
    margin-bottom: 20px;
	clear:both;
}
.margin-none {
	margin:0px;
}

.js-gmap iframe {
    width: 100%;
    height: 100%;
}

/*-----------------
	1.4. Form
---------------------------*/

.form-control, input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"] {
	background:#eeecec none repeat scroll 0 0;
	border:1px solid #eeecec;
	border-radius:0;
	box-shadow:none;
	color:#555555;
	font-size:16px;
	height:65px;
	padding:0 25px;
}
textarea.form-control {
	padding:10px 25px;
}
textarea {
	background:#eeecec none repeat scroll 0 0;
	border:1px solid #eeecec;
	border-radius:0;
	box-shadow:none;
	color:#555555;
	font-size:16px;
	height:150px;
	padding:0 25px;
}
.form-control:focus {
	border-color:#de302f;
	box-shadow:none;
}
.form-control::-moz-placeholder {
	color:#7e7d7d;
}
.form-group {
	margin:auto auto 22px;
	position:relative
}

.countdown-btn .btn::after {
  content: "";
  font-family: fontawesome;
  font-size: 19px;
  margin-left: 20px;
  position: relative;
    top: -5px;
}


/*-------------------------------------------------
	1.5. Section-background-color & sectino-heading
------------------------------------------------------*/

.secondary-bg {
	background-color:#222222;
	color:#fff;
}
.primary-bg {
	background-color:#de302f;
	color:#fff;
}
.fourth-bg {
	background-color:#161616;
}
.section-padding {
	padding:140px 0px;
}
.less-padding {
	padding:50px 0px;
}
.border-box {
	border:12px solid #cccccc;
	overflow:hidden
}
.section-header {
	margin-bottom:80px
}
.section-header p {
	width:98%;
}
.div_zindex {
	position:relative;
	z-index:1;
}
.secondary-bg,
.secondary-bg  p, 
.secondary-bg h1, 
.secondary-bg h2,
.secondary-bg h3,
.secondary-bg h4,
.secondary-bg h5,
.secondary-bg h6,
.primary-bg,
.primary-bg p,
.primary-bg h1,
.primary-bg h2,
.primary-bg h3,
.primary-bg h4,
.primary-bg h5,
.primary-bg h6,
.white_text, 
.white_text p, 
.white_text h1,
.white_text h2,
.white_text h3,
.white_text h4,
.white_text h5,
.white_text h6,
.white_text p {
	color:#fff;
}


/*--------------------------------------------
	1.6. Overlay-color
---------------------------------------------------*/

.dark-overlay {
  background: hsla(0, 0%, 0%, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: inherit;
}
.red-overlay {
	background:#de302f none repeat scroll 0 0;
	content:"";
	height:100%;
	left:0;
	opacity:0.85;
	position:absolute;
	top:0;
	transition:all 0.5s linear 0s;
	width:100%;
}



/*============================
	2. Header & Navigation
==================================*/

header {
	padding:20px 0px
}
.logo h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
}
.logo h3 a {
	color:#fff;
}
.logo h3 a span, .logo h3 span {
	color:#de302f;	
}
.info-text span {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  line-height: 1;
}
#menu-toggle-close {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
#menu-toggle-bar {
  cursor: pointer;
  display: inline-block;
}
#menu-toggle-bar i, #menu-toggle-close i {
	font-size:30px;
	font-weight:300;
	color:#fff;
	line-height:1
}
header.nav-stacked {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:222;
	-webkit-transition:all 0.3s linear;
	-moz-transition:all 0.3s linear;
	transition:all 0.3s linear;
}
header.nav-stacked.affix {
	padding:30px 0px;
	background:#000;
	box-shadow:3px 0px 8px rgba(0,0,0,0.25);
}
nav.navigation {
  background: hsl(0, 0%, 0%) none repeat scroll 0 0;
  left: 0;
  min-height: 100px;
  padding: 24px 0;
  position: fixed;
  right: 0;
  top: -400%;
  transition-duration: 0.3s;
   -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
     -webkit-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
  z-index: 22222;
}
nav.navigation.shownav {
	top:0px;
}
nav.navigation ul {
	float:none;
}
nav.navigation ul li {
	margin:0px 9px 0px 0px;
}
nav.navigation ul li a {
  color: #fff;
  display: inline-block;
  font-size: 18px;
  padding: 10px 13px;
}
nav.navigation ul li a:hover, nav.navigation ul li.active a, nav.navigation ul li a:focus {
	background:none;
	color:#de302f;
}
.navbar-nav {
    display: inline-block;
    margin-right: 50px;
}
.navbar-nav > li {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 17px;
    padding: 0 10px;
    font-size: 20px;
    color: #fff;
}
.navbar-nav .dropdown-menu {
	position: absolute;
}
/*-------------------
	Dropdown-menu
-----------------------*/

.dropdown-toggle .caret {
	color:#fff;
}
.dropdown-menu {
  background:#000000;
}

.dropdown-menu {
	border-radius:3px;
}
nav.navigation ul li.active .dropdown-menu a {
  color: #fff;
}
nav.navigation ul li .dropdown-menu li {
  display: block;
  margin: 20px auto;
  text-align: left;
}
@media (min-width:768px) {
nav.navigation ul li.dropdown:hover ul.dropdown-menu {
	display:block !important;
}

}

@media (min-width:768px) and (max-width:991px) {
nav.navigation ul li .dropdown-menu li {
  margin: 10px auto;
}

}


/*===========
	3. Intro
===================*/

.banner-section {
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
	overflow:hidden;
}


/*-----------------------------------
	3.1. Default Background image
------------------------------------------*/

#banner {
	background-image:url(../images/banner-1.jpg);	
}
.banner-content h1 {
	font-size:90px;
	color:#fff;
}
.banner-fixed {
	display:table-cell;
	height:100vh;
	width:1%;
	vertical-align:middle;
	text-align:center;
	position:relative;
	z-index:1
}
.banner-tagline p {
	font-size:24px;
	color:#fff;
	line-height:auto !important;
	margin-top:20px;
}


/*----------------------------------
	3.2. Video Background
--------------------------------------*/
.video {
  bottom: 0;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  transform: translate(-50%, 0px);
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}


/*----------------------------------
	3.3. Background Slideshow
--------------------------------------*/
.slides {
  background-position: center top;
  background-size: cover;
  height:100vh;
  position:relative;
}
.masked::after {
  background-color: rgba(0, 0, 0, 0.78);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



/*================
	4. Countdown
========================*/

.countdown-tab {
	position:relative
}
.counter-sec {
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	padding:0px 15px;
	z-index:1
}
.half-width {
	width:50%;
	float:left;
}
.coming-timer {
	margin:0 auto;
	background:#161616;
	padding:22px 0px;
}
.countdown-counter {
	margin:0 auto;
	padding:22px 0px;
	background:rgba(34,34,34,0.65);
}
.countdown-amount:after {
	content:"";
	height:100%;
	width:1px;
	background:#444445;
	position:absolute;
	top:0px;
	right:-21px;
}
.countdown-amount:last-child:after {
	margin:0px;
	width:0px;
}
.countdown-amount:last-child {
	margin:0px;
}
.countdown-period {
	display:block;
	font-size:17px;
	line-height:1;
	text-align:center;
	font-weight:300;
	margin-top:3px;
	text-transform:capitalize;
}
.countdown-amount {
	color:#fff;
	font-size:50px;
	font-weight:700;
	display:inline-block;
	list-style:outside none none;
	margin:0 42px 0px auto;
	padding:15px 0px;
	text-align:center;
	width:auto;
	position:relative;
	line-height:1;
	display:inline-block;
	vertical-align:middle;
}



/*=====================
	5. About Conference 
============================*/

.about-section {
	position:relative
}
.about-content p {
	margin-bottom:40px;
}
.carousel {
	position:relative;
	overflow:hidden
}
.carousel-inner .carousel-item img {
	width:100%
}
.carousel-control {
	box-shadow:none;
	background:transparent
}
.left.carousel-control-prev, .right.carousel-control-next {
	background:#de302f none repeat scroll 0 0;
	bottom:0;
	font-size:40px;
	height:45px;
	line-height:22.5px;
	opacity:1;
	padding:0 !important;
	position:absolute;
	text-shadow:none;
	top:inherit;
	width:58px;
}
.left.carousel-control-prev {
	right:65px !important;
	left:auto
}
.right.carousel-control-next {
	right:0px !important;
}


/*===================
	6. conference info
==========================*/

.conference-content-box {
	padding-left:43px;
	overflow:hidden;
}
.conference-price {
	overflow:hidden;
	padding:40px 0;
}
.conference-price > p {
	color:#ffffff;
}
.conference-amount {
	color:#ffffff;
	font-size:40px;
	font-weight:300;
	line-height:52px;
}
.conference h2 {
	color:#ffffff;
}
#conference {
	position:relative;
}
.vc_row {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
}
.vc_col { 
	display:flex;
}
.vc_column-inner {
  display: block;
  width: 100%;
}
.width50-right {
  float: right;
  max-width: 570px;
  padding-right: 60px;
  flex-direction: column;
}
.width50-left {
  float: left;
  max-width: 570px;
  padding-left: 60px !important;
  flex-direction: column;
}
.section-conference-bg {
	background-image:url(../images/1200x1046.html);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%;
}
.spekers-tickets-box {
	margin-bottom:35px;
	overflow:hidden;
	padding-top:10px;
}
.spekers-tickets-info {
	background:#222222 none repeat scroll 0 0;
	border-radius:50%;
	color:#ffffff;
	display:inline-block;
	font-size:28px;
	height:195px;
	line-height:70px;
	margin-right:30px;
	padding:42px 20px;
	text-align:center;
	width:195px;
	font-weight:300;
}
.conference-start-box {
	overflow:hidden;
	position:relative;
	z-index:1;
}
.spekers-tickets-info .fa {
	display:block;
	font-size:54px;
}


/*===============
	7. Speaker
======================*/

.speaker-info {
	margin-bottom:5px;
	padding:15px 0;
}
.speaker-info h5 {
	margin-bottom:0px;
}
.speaker-info h6 {
	font-size:16px;
	font-weight:300;
	line-height:32px;
}
.speaker-info-box {
	position:relative;
}
.social-icons a {
	color:#ffffff;
	font-size:40px;
	line-height:100%;
	margin-left:21px;
}
.social-icons {
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	width:100%;
}
.speaker-info-box:hover .speaker-hover {
	opacity:1;
}
.speaker-hover {
	background:rgba(222, 48, 47, 0.80) none repeat scroll 0 0;
	height:100%;
	left:0;
	opacity:0;
	position:absolute;
	right:0;
	top:0;
	transition:all 0.5s linear 0s;
	vertical-align:middle;
	width:100%;
}
.social-icons a > i {
  font-size: 30px;
}


/*===============
	8. Schedule
======================*/

.day-time-m {
	padding-bottom:70px;
	text-align:center;
}
.day-time-m ul {
	padding:0;
}
.day-time-m li {
	border:3px solid #ffffff;
	display:inline-block;
	font-size:20px;
	font-weight:300;
	line-height:35px;
	list-style:outside none none;
	margin:0 10px;
	text-align:center;
	position:relative;
}
.day-time-m li a.active, .day-time-m li a:hover {
	background:#de302f none repeat scroll 0 0;
	border-color:#de302f;
}
.day-time-m li a.active::after {
  border-color: hsl(0, 73%, 53%) hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0);
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 12px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 42px;
  width: 12px;
}
.day-time-m li a {
	color:#ffffff;
	display:block;
	padding:3px 25px;
}
.conference-time-list {
	border-top:3px solid #393939;
	overflow:hidden;
	position:relative;
}
.conference-time-list:nth-last-child(1) {
	border-bottom:3px solid #393939;
}
.conf-user-time {
	color:#ffffff;
	float:left;
	padding:15px;
	text-align:center;
	width:135px;
	font-weight:300;
}
.conf-user-time span.time {
	display:block;
	font-size:44px;
	line-height:60px;
}
.time-schedule {
	display:block;
	font-size:20px;
	text-align:right;
}
.conf-user-img {
	float:left;
	padding:29px 20px;
	width:100px;
}
.conf-user-info {
    float: left;
    padding: 34px 10px;
    width: 495px;
    text-align: left;
}
.conf-user-info h5 {
	color:#de302f;
	margin-bottom:10px;
}
.conf-user-info h6 {
  color: hsl(0, 0%, 56%);
  font-size: 16px;
  font-weight: 300;
  margin: 0 auto;
}
.conf-user-content {
	overflow:hidden;
	padding-top:25px;
}
.conf-user-content p {
	color:#ffffff;
	font-size:16px;
}
.conf-close {
	background:#de302f none repeat scroll 0 0;
	border-radius:50%;
	color:#ffffff !important;
	display:inline-block;
	font-size:31px;
	height:52px;
	line-height:52px;
	position:absolute;
	right:23px;
	text-align:center;
	top:45px;
	width:52px;
	cursor:pointer;
}
.conf-close:hover {
	color:#fff;
}
.conf-close.menu-down {
	transform:rotate(89deg);
}
.schedule-data{
	margin: 0 auto;
}
.nav-tabs {
    border-bottom: none;
	display:block;
}

/*===============
	9. Pricing
======================*/

.regi-price-table {
	margin-bottom:29px;
	overflow:hidden;
}
.pricing_wrap:nth-child(3n) {
  clear: left;
}
.table-price-box {
	display:table-cell;
	padding:44px 21px;
	vertical-align:top;
	width:250px;
	text-align:center;
}
.table-price-detail {
	display:table-cell;
	padding:30px 21px;
	vertical-align:top;
	width:281px;
}
.table-price-box h5 {
	color:#ffffff;
	margin-bottom:25px;
}
.regi-price-box {
	border-top:1px solid #4e4e4e;
	overflow:hidden;
	padding-top:25px;
}
.regi-price-box p {
	color:#de302f;
	font-size:54px;
	line-height:50px;
}
.table-price-detail ul {
	padding-left:24px;
	margin:0px;
}
.table-price-detail li {
  color: hsl(0, 0%, 13%);
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  list-style: outside none none;
  margin: 24px 0;
}
.table-price-detail li .fa {
	margin-right:8px;
}
.regi-price-btn-box {
	margin:0 auto;
	padding-top:10px;
	text-align:center;
}
#header.transparent {
    position: absolute;
    top: 0;
    left: .0;
    right: 0;
    border-bottom: rgba(255, 255, 255, 0.1) solid 1px;
}
#header {
    border-bottom: rgba(255, 255, 255, 0.1);
    left: 0;
    right: 0;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    z-index: 22;
}
#header.sticky, .fadeHeaderInDown {
    -webkit-animation-name: fadeHeaderInDown;
    -moz-animation-name: fadeHeaderInDown;
    -o-animation-name: fadeHeaderInDown;
    animation-name: fadeHeaderInDown;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 22;
    background: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


/*===============
	10. FAQ
======================*/

section#faq {
	position:relative;
}
.faq-box-m {
	overflow:hidden;
	padding-right:90px;
}
.faq-box-m h2 {
	color:#ffffff;
	margin-bottom:45px;
}
.panel-group .panel {
	background:transparent none repeat scroll 0 0;
	border:medium none;
	border-radius:0;
	padding:0px 0 0;
	box-shadow:none;
	border-top:1px solid #717171;
}
.panel-group .panel:nth-last-child(1) {
	border-bottom:1px solid #717171;
}
.panel.panel-default:last-child {
	padding-bottom:0px;
}
.panel-group {
	margin-bottom:0;
}
.panel-heading {
	position:relative;
	padding:0;
}
.panel-body {
	background-color:transparent;
	padding:0;
	margin-bottom:25px;
}
.panel-body p {
	color:#908f8f;
	font-size:16px;
	line-height:32px;
}
.faq-box-m .panel-title a {
	color:#ffffff;
	display:block;
	font-size:24px;
	line-height:70px;
	text-decoration:none;
}
.panel-default > .panel-heading {
	background:none;
}
.panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body {
	border-top:none;
}
.faq-box-m .panel-title a.collapsed {
	background-color:transparent;
	color:#fff;
}
.sport-video-box > h2 {
	color:#ffffff;
	line-height:70px;
}
.sport-video-box {
	padding:0 40px;
	position:relative;
	z-index:1;
}
.video-box {
	margin-top:50px;
	overflow:hidden;
}
.video-box iframe {
  border: 0 none;
  height: 300px;
  width: 100%;
}
.faq_bg {
	background-image:url(../images/1200x1046.html);	
}


/*===============
	11. Newsletter
======================*/

.subscribe-newsletter {
	background:#222;
	margin:0 auto;
	text-align:center;
}
.newslette-iframe {
  border: medium none;
  height: 75px;
  width: 100%;
}
.subscribe-form > h2 {
	color:#fff;
  display: inline-block;
  line-height: 65px;
  margin: 0 35px 0 0;
  vertical-align: top;
}
.form-group.newsletter-input {
	display:inline-block;
	margin:0 -3px 0 auto;
	vertical-align:top;
	width:430px;
}
.newsletter-btn {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #222222;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  height: 65px;
  left: -65px;
  padding: 3px 16px;
  position: relative;
  vertical-align: top;
}
.subscribe-form form {
  display: unset;
  vertical-align: unset;
}
.article_tag {
    padding: 25px 8px;
}

/*==============
	12. Sponsors
====================*/

.sponsors-list {
	margin:0 auto;
	overflow:hidden;
	text-align:center;
}
.sponsors-list > ul {
	margin:0 auto;
	padding:0;
}
.sponsors-list li {
  display: inline-block;
  list-style: outside none none;
  margin-bottom: 48px;
  margin-right: 15px;
}


/*=====================
	13. Conference Venue
==============================*/

.contact-info-box {
	padding:50px 100px;
	text-align:center;
}
.contact-info-details {
	overflow:hidden;
	padding-bottom:20px;
}
.direction-icon {
	color:#111111;
	margin-bottom:5px;
}
.contact-info-details .fa {
	font-size:80px;
}
.contact-info-details > h5 {
  font-size: 26px;
  font-weight: 300;
  line-height: 40px;
  margin: 8px 0;
}
.contact-info-details a {
	color:#111111;
}
.contact-info-details a:hover {
	color:#de302f;
}
.g-map-m .gmap {
	height:666px;
	width:100%;
}
.tag_list .btn, .categories_in .btn{
	font-size: 15px;
	padding: 5px 5px;
}

/*==============
	14. Footer
=======================*/

.footer-social-tab {
  margin-bottom: 80px;
  margin-top: 145px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.footer-social-tab ul {
  margin: 0;
  padding: 0;
}
.footer-social-tab ul li {
  display: inline-block;
  list-style: outside none none;
  vertical-align: middle;
}
.footer-social-tab a {
  border: 1px solid hsl(0, 1%, 35%);
  border-radius: 50%;
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 35px;
  height: 80px;
  line-height: 80px;
  margin: 0 22px;
  width: 80px;
}
.footer-social-tab a:hover {
  border: 1px solid hsl(0, 73%, 53%);
  color: hsl(0, 73%, 53%);
}
.footer-logo-text p {
	font-size:306px;
	font-weight:700;
	line-height:170px;
	color: hsl(0, 0%, 21%);
}
.copyright {
	overflow:hidden;
	padding:50px 0;
	text-align:center;
	position:relative;
}
.copyright p {
  color: hsl(0, 0%, 100%);
  font-size: 16px;
}


/*================
	15. Back to top
=========================*/

.back-top {
	bottom:20px;
	position:fixed;
	right:30px;
	z-index:1;
}
.back-top a {
  background: hsl(0, 0%, 0%) none repeat scroll 0 0;
  border-radius: 0;
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 31px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  vertical-align: top;
  width: 52px;
}
#back-top a:hover {
	opacity:0.57;
}


/*========================
	16. Registration form
================================*/

label.error.wobble-error {
  color: #de302f;
  display: block;
  font-weight: 400;
  margin: 0;
  padding: 3px 0 0 3px;
  text-align: left;
}

.modal-message {
  text-align: center;
}
.modal-message .modal-dialog {
  top: 50%;
}



/*=======================
	17. Latest Blog
================================*/

.blog_wrap h5 {
	margin:0 auto 10px;	
}
.blog_wrap h5 a {
	color:#222;	
}
.blog_wrap p {
	font-size:16px;
	line-height:26px;	
}
.blog_img {
	overflow:hidden;
}
.blog_img img {
	max-width:100%;
}
.blog_img a {
	display:block;
}
.blog_meta p {
	font-size:13px;
	margin:0px;	
	font-weight:400;
	color:#de302f;
}

/*===========================================
	18. Blog-Page & Blog Single page
=========================================================*/

.inner-pages {
  background-image: url("../images/blog_800x510_5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  padding:90px 0;
}
.page_title {
  margin: 90px auto 10px;
}
.our_articles {
	padding:80px 0;
}
.our_articles .blog_wrap {
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 60px;
  padding-bottom:40px;
}
.video_post iframe {
	width:100%;
	height:450px;	
}
.grid_view .video_post iframe {
	width:100%;
	height:230px;	
}
.quote_post .blog_img blockquote {
	background:#de302f;
	border:0px;
	color:#fff;	
	padding:80px 80px;
	position:relative;
	margin:0;
}

.quote_post .blog_img blockquote p {
	color:#fff;
	font-size:26px;	
}
.blog_wrap h4 a, .blog_wrap h3 a {
	color:#111;
}
.blog_wrap h3 a:hover {
	color:#de302f;	
}
.single_article .blog_meta p {
	color:#555;
	font-size:16px;	
}
.inline-div {
	display:inline-block;
}
.single_article .blog_meta p {
  color: #555;
  font-size: 13px;
  margin-bottom:0px;
}
.single_article .blog_meta {
	margin-bottom:10px;
}
.blog_wrap h3 {
  margin: 0 auto 20px;
}
.blog_meta p {
  display: inline-block;
  margin: 0 20px 10px 0;
}
.grid_view .blog_wrap {
	 border:0px;
	 margin-bottom:40px;
}
.grid_view .blog_wrap:nth-child(3n) {
  clear: right;
}
.grid_view .blog_wrap:nth-child(3n+1) {
  clear: left;
}
.view_one p {
	font-size:18px;
	line-height:32px;	
}
.pagination > li > a, .pagination > li > span {
	color:#de302f;	
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, 
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	background:#de302f;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, 
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	border-color:#de302f;
}
.pagination, 
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span, 
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
  border-radius: 0;
}
.sidebar_wrap {
	margin-left:20px;
}
.sidebar_wrap.leftsidebar {
	margin-left:0px;
	margin-right:20px;
}
.sidebar_widgets {
	padding:20px;
	border:#ddd solid 1px;
	margin:0 auto 40px 0px;	
}
.widget_title {
  margin: -20px -20px 20px;
  padding: 20px;
}
.widget_title h6 {
	margin:0px;
}
.list-style-none {
	list-style:none;
	padding:0;
	margin:0px;	
}
.blog_categories li a {
	color:#555;
}
.blog_categories li a:hover, .widget_post_info h6 a:hover {
	color:#de302f;	
}
.widget_post_img {
	width:45%;
	float:left;
	margin-right:14px;
}
.widget_post_img img {
	max-width:100%;
}
.widget_post_info h6 a {
	color:#111;
}
.popular_post li {
  overflow: hidden;
}

.article_tag {
  padding: 40px 0 0;
}
.article_tag h6, .article_tag .tag_list {
  display:inline-block;
  vertical-align:middle;
  margin:0 8px 0 0;
}
.article_tag .tag_list li {
	margin-bottom:0px;
}
.share_article {
	text-align:right;
}
.share_article ul, .share_article h6 {
	display:inline-block;
	padding:0px;
	margin:0 8px 0;
	vertical-align:middle;
}
.share_article ul li {
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color:#de302f;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  list-style: outside none none;
  margin: 0 2px;
  text-align: center;
  transition-duration:0.3s;
 	 -moz-transition-duration:0.3s;
	  -o-transition-duration:0.3s;
	   -webkit-transition-duration:0.3s;
	    -ms-transition-duration:0.3s;
  vertical-align: middle;
  width: 26px;
}
.share_article ul li a {
	display:block;
	font-size:15px;
}
.share_article ul li a .fa {
	margin:0px auto;
}
.share_article ul li:hover a {
	color:#fff;
}
.share_article ul li:hover {
	background:#de302f;
}

/*--------------------
	18.1 Comment-List
----------------------------*/
.articale_comments {
	margin:0 auto 130px;
}
.block-head {
  position: relative;
}
.commentlist {
  margin: 0 0 30px;
  padding: 0;
}
.commentlist li {
  list-style: outside none none;
  padding: 30px 0;
}
.commentlist li.comment {
	 border-bottom: 1px solid #cecece;
}
.comment-author img {
  float: left;
}
.commentlist li img.avatar {
  border: medium none;
  border-radius: 50%;
  float: left;
  height: 84px;
  margin-bottom: 30px;
  margin-right: 25px;
  position: relative;
  width: 84px;
}
.comment-body h1, .comment-body h2, .comment-body h3, .comment-body h4, .comment-body h5, .comment-body h6, .comment-body table, .comment-body ul, .comment-body ol, .comment-body blockquote, .comment-body dl, .comment-body address, .comment-body pre, .comment-body p, .comment-body .reply {
  margin-left: 110px;
}
.comment-body p {
  display: block;
  margin-bottom: 15px;
  padding-bottom: 0;
}
.comment-meta.commentmetadata {
	margin-bottom:8px;
}
.comment-meta.commentmetadata, .comment-meta.commentmetadata a {
  color: #b7b7b7;
  font-size: 14px;
  font-weight: 400;
}
.comment-author .fn {
  color: #111;
  font-size:18px;
  font-weight: 900;
}
.comment ul.children {
  padding-left: 110px;
}
.comment ul.children li.comment {
  border-bottom: 0 none;
  border-top: 1px solid #cecece;
  margin-top: 30px;
  padding-bottom: 0;
}
.comment-form {
	margin:40px 0;
}


/*================
	19. Elements
=========================*/

/*======================
	Sponsors-Styles
=============================*/
#sponsors-slider .sponsors_logo {
	background:#fff;
	outline: 1px dashed rgba(255, 255, 255, 0.3);
	outline-offset:4px;
	margin:5px auto 12px;
	height:150px;
	display:table;
	width:90%;
	padding: 20px;
}
#sponsors-slider .sponsors_logo a {
	display:table-cell;
	vertical-align:middle;
}
#sponsors-slider .sponsors_logo img {
	max-width:100%;
}
.sponsors_3 .sponsors-list li {
	outline: 1px dashed rgba(0, 0, 0, 0.5);
	outline-offset:4px;
	margin:5px 10px 15px;
	padding: 20px;
}
.owl-pagination {
	width:100%;
	display:block;
	margin:auto;
	text-align:center
}
.owl-pagination .owl-page {
	height:10px;
	width:10px;
	background:#929292;
	border-radius:50%;
	display:inline-block;
	margin:25px 5px 0px;
}
.owl-pagination .owl-page.active {
	background:#DE302F;
	height:16px;
	width:16px;
	border-radius:50%;
	position:relative;
	top:2px;
}


/*======================
	Speakers-Styles
=============================*/
.speakers_3 .speaker-info-box {
  border-radius: 50%;
}
.speakers_3 .speaker-info {
  text-align: center;
}


/*======================
	Pricing-Table
=============================*/
.registration-price-2 .pricing_wrap:nth-child(3n) {
  clear: none;
}
.registration-price-2 .table-price-box, .registration-price-2 .table-price-detail {
  display: block;
  padding: 20px;
  width: auto;
  text-align:center
}
.registration-price-2 .table-price-detail ul {
	text-align:left;
	margin:0 auto 60px;
}
.registration-price-2 .regi-price-box {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  padding-top: 24px;
}
.registration-price-2 .table-price-box h5 {
  margin-top: 10px;
}
.registration-price-3 .table-price-detail ul li {
	float:left;
	width:50%;
    margin: 12px 0;
}
.registration-price-3 .table-price-detail {
  width: 570px;
}
.table_btn {
  background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 300px;
}


/*======================
	Pricing-Table
=============================*/
.event_img {
	margin:0 auto 30px;
	overflow:hidden;
}
.event_img img {
	max-width:100%;
	height:auto;
	transform:scale(1);
	 -moz-transform:scale(1);
	  -o-transform:scale(1);
	   -webkit-transform:scale(1);
	    -ms-transform:scale(1);
	transition-duration:0.3s;
	 -moz-transition-duration:0.3s;
	  -o-transition-duration:0.3s;
	  -webkit-transition-duration:0.3s;
	   -ms-transition-duration:0.3s;
}
.event_img:hover img {
	transform:scale(1.2);
	 -moz-transform:scale(1.2);
	  -o-transform:scale(1.2);
	   -webkit-transform:scale(1.2);
	    -ms-transform:scale(1.2);
}
.about_info_m h5 {
  margin: 0 auto 10px;
}
.about-section-3 .event_img {
	margin:0 auto 30px;
}



/*======================
	Schedule-Styles
=============================*/

.schedule_info2 .nav.nav-tabs {
	border:0px;
	text-align:center;
}
.schedule_info2 .nav.nav-tabs {
	text-align:center;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.schedule_info2 .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li>a {
    position: relative;
    display: block;
    color: #fff;
}
.dropdown:hover .dropdown-menu{
	display:block;
}
ul.dropdown-menu li{
	font-size: 18px;
    padding: 10px 0px;
}
ul.dropdown-menu li a{
	color: #fff;
}
ul.dropdown-menu li a:hover{
	color: #de302f;
}
.schedule_info2 .nav.nav-tabs li {
	float:none;
	display:inline-block;
}
.schedule_info2 .nav.nav-tabs > li > a {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-right: 8px;
  padding: 20px 40px;
  text-align: center;
  text-transform: capitalize;
}
.schedule_info2 .nav.nav-tabs > li > a span {
  color: #111111;
  display: block;
  font-size: 14px;
  font-weight:400;
}
.schedule_info2 .conf-user-time {
  background: #222222 none repeat scroll 0 0;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  height: 120px;
  margin-left: -80px;
  margin-right: 10px;
  padding: 35px 30px;
  position: relative;
  text-align: center;
  width: 120px;
  z-index: 1;
}
.schedule_info2 .conf-user-time span.time {
  font-size: 26px;
  line-height:30px;
}
.schedule_info2 .time-schedule {
  font-size: 17px;
  text-align: center;
}
.schedule_info2 .conference-time-list {
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: table;
  margin: 0 auto 14px 40px;
  overflow: visible;
  padding: 17px 20px;
  position: relative;
  width: 100%;
}
.schedule_info2 .conf-user-info {
  width: 650px;
}
.schedule_style2 .nav.nav-tabs > li a.active, 
.schedule_style2 .nav.nav-tabs > li:hover a, 
.schedule_style2 .nav.nav-tabs > li a:hover, 
.schedule_style2 .nav.nav-tabs > li a:focus {
  background:#de302f;
  color:#fff;
}
.schedule_style2 .nav.nav-tabs > li a.active span, 
.schedule_style2 .nav.nav-tabs > li:hover a span, 
.schedule_style2 .nav.nav-tabs > li a:hover span, 
.schedule_style2 .nav.nav-tabs > li a:focus span {
	color:#fff;
}
.schedule_style2 .nav.nav-tabs > li a.active::after {
  border-color: #de2f2f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 12px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: -24px;
  width: 12px;
}



.schedule_style3 .conf-user-info {
  width: 700px;
}
.schedule_style3 .nav.nav-tabs {
	border:0px;
}
.schedule_style3 .time, .schedule_style3 .time-schedule {
  color: #ffffff;
  display: inline;
  font-weight: 300;
}
.schedule_style3 .conference-time-list {
  border-bottom:0px;
  border-top:0px;
  border-right:0px;
  border-left:rgba(255, 255, 255, 0.1) solid 1px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  position:relative;
  overflow:visible;
  display:table;
  width:100%;
}
.schedule_style3 .conference-time-list::after {
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: -4px;
  position: absolute;
  top: 48%;
  width: 8px;
  z-index: 1;
}
.schedule_style3 .conf-user-img {
  border-radius: 50%;
  height: 60px;
  margin: 36px 20px;
  overflow:hidden;
  padding: 0;
  width: 60px;
}
.schedule_style3 .nav.nav-tabs > li > a {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-radius: 0;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-size: 27px;
  font-weight: 700;
  margin-right: 8px;
  padding: 10px 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.schedule_style3 .nav.nav-tabs > li > a.active{
	background: #de302f;
}
.schedule_style3 .nav.nav-tabs > li > a span {
	font-size:16px;
	text-transform:capitalize;
	font-weight:400;
}
.schedule_style3 .nav.nav-tabs > li.active a, 
.schedule_style3 .nav.nav-tabs > li:hover a, 
.schedule_style3 .nav.nav-tabs > li a:hover, 
.schedule_style3 .nav.nav-tabs > li a:focus {
	background:#de302f;	
}
.schedule_style3 ul.nav.nav-tabs {
	text-align:center;
}
.schedule_style3 ul.nav.nav-tabs li {
  display: inline-block;
  float: none;
  margin: 0 auto 30px;
  position:relative;
}
.schedule_style3 .nav.nav-tabs > li.active::after {
  border-color: #de2f2f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 12px;
  content: "";
  height: 12px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  bottom: -22px;
  width: 12px;
}



/*======================
	Venue-Styles
=============================*/

.venue_style2 .contact-info-details {
	margin:0 auto 60px;
}
.venue_style2 .direction-icon {
  border: 12px solid #eeeeee;
  border-radius: 50%;
  display: inline-block;
  height: 120px;
  line-height: 120px;
  margin: 0 auto 15px;
  width: 120px;
}
.venue_style2 .direction-icon i {
  font-size: 50px;
}

.venue_style2 .g-map-m .gmap {
  height: 480px;
  width: 100%;
}

.venue_style3 {
	padding-bottom:0px !important;
	position:relative;
}
.venue_style3 .contact-info-box {
	position:absolute;
	bottom:100px;
	left:10%;
	z-index:1;
	background:#fff;
	width:450px;
}
.venue_style3 .contact-info-box {
  padding: 30px;
  text-align: center;
}
.venue_style3 .contact-info-details .fa {
  font-size: 50px;
}
.venue_style3 .contact-info-details > h5 {
  font-size: 22px;
  line-height: 30px;
}
.dropdown-menu{
	min-width: 12rem;
    padding: 0;
	margin:0;
}
.dropdown-menu>li>a {
    display: block;
    padding: 3px 20px !important;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}


/*================
	20. Responsive CSS
=========================*/

@media (min-width:992px) and (max-width:1200px) {
	
.banner-content h1 {
	font-size:65px;
}
h2 {
	font-size:46px
}
.banner-tagline p {
	font-size:23px;
	margin-top:10px;
}
.btn.btn-lg {
	padding:50px 58px;
	font-size:40px !important;
}
p {
	font-size:17px;
	line-height:30px;
}
.about-content p {
  margin-bottom: 30px;
}
.width50-right {
  max-width: 470px;
  padding-right: 20px;
}
.width50-left {
  max-width: 470px;
  padding-left: 20px;
}
.section-padding {
	padding:90px 0;
}
.section-header {
	margin-bottom:50px;
}
.spekers-tickets-info {
  margin-right: 20px;
}
.table-price-detail li {
  font-size: 22px;
  margin: 18px 0;
}
.sport-video-box > h2 {
  color: hsl(0, 0%, 100%);
  line-height: 58px;
}
.conference-content-box {
	padding-left:20px;
}
.conference-price {
	padding:20px 0;
}
.faq-box-m {
	padding-right:20px;
}
.sport-video-box {
	padding:0 20px;
}
.vodeo-icon-box {
	margin-top:50px;
}
.subscribe-form > h2 {
	font-size:51px;
	margin-right:30px;
}
.form-group.newsletter-input {
  text-align: left;
  width: 490px;
}
.subscribe-form input {
  padding-right: 80px;
}
.subscribe-form input:focus, .subscribe-form input:hover {
	border:0px;
}
.contact-info-details > h5 {
  font-size: 22px;
  line-height: 32px;
}
.g-map-m .gmap {
  height: 596px;
}
.contact-info-box {
	padding:50px 40px;
}
.footer-logo-text p {
	font-size:245px;
	line-height:145px;
}
.footer-social-tab {
	margin-bottom:80px;
	margin-top:80px;
}
.copyright {
	padding:25px 0;
}
.newslette-iframe,  
.subscribe-newsletter {
  height: 200px;
}
.widget_post_info h6 {
  font-size: 16px;
}
nav.navigation ul li {
  margin: 0 6px 0 0;
}
.grid_view .video_post iframe {
	width:100%;
	height:190px;	
}
.schedule_info2 .conf-user-info {
  width: 500px;
}
.schedule_style3 .nav.nav-tabs > li > a {
  padding: 10px 12px;
}
.schedule_style3 .conf-user-info {
  width: 560px;
}

}


@media (min-width:768px) and (max-width:991px) {

nav.navigation ul {
  text-align: center;
}
nav.navigation ul li {
  display: inline-block;
  float: none;
  margin: 0 3px 0 0;
}
nav.navigation ul li a {
  font-size: 16px;
  padding: 10px;
}
#menu-toggle-close {
	display:block;
	padding:0px;
	margin:0 0 20px;
	text-align:center;
}
.banner-content h1 {
	font-size:50px;
}
h2 {
	font-size:43px;
}
h5 {
  font-size: 26px;
}
.info-text span {
  font-size: 22px;
}
.countdown-amount {
	font-size:34px;
	margin:0 auto;
	padding:8px 0;
	width:85px;
}
.countdown-period {
	font-size:16px;
}
.countdown-amount::after {
	right:0;
}
.btn.btn-lg {
	font-size:34px !important;
	font-weight:300 !important;
	padding:40px 38px;
}
.btn.btn-lg::after {
	font-size:34px;
}
.section-padding {
	padding:70px 0;
}
.section-header {
	margin-bottom:40px;
}
.about-content > h2 {
	font-size:43px;
	margin-bottom:10px;
}
.about-content p {
	font-size:16px;
	line-height:30px;
	margin-bottom:10px;
}
.about-carousel {
	margin-top:71px;
}
.spekers-tickets-box {
	margin-bottom:25px;
}
.spekers-tickets-info .fa {
	font-size:44px;
}
.conference-price > p {
  display: inline-block;
  margin-right: 10px;
}
.conference-content-box {
	padding-left:13px;
}
.btn-lg-boder-w {
	font-size:25px !important;
	line-height:44px;
	padding:10px 40px;
}
.conf-user-time span.time {
	font-size:38px;
}
.conf-user-time {
	padding:10px;
	width:110px;
}
.conf-user-img {
	padding:30px 15px;
	width:90px;
}
.conf-user-info {
	padding:34px 0;
	width:520px;
}
.regi-price-box p {
	font-size:44px;
	line-height:35px;
}
.table-price-detail ul {
	padding-left:0;
}
.table-price-detail, .table-price-box {
	display:block;
	width:100%;
	padding:22px;
}
.table-price-detail li {
	font-size:22px;
}
.btn-lg-boder-r {
	font-size:28px !important;
	line-height:50px;
	padding:5px 45px;
}
.sponsors-list li {
  margin-bottom: 25px;
  margin-left: 30px;
  margin-right: 30px;
}
.vc_row {
  display: block;
}
.width50-right, .width50-left {
  float: none;
  margin: 0 auto;
  max-width: 700px;
  padding: 0px !important;
}
.faq-box-m {
	padding-right:15px;
}
.faq-box-m h2 {
	margin-bottom:30px;
}
.panel-body p {
	font-size:15px;
	line-height:29px;
}
.panel-title a {
	font-size:19px;
	line-height:55px;
}
.sport-video-box {
	padding:0 10px;
}
.vodeo-icon-box {
	margin-top:40px;
}
.vodeo-icon-box a {
	font-size:45px;
}
.subscribe-form > h2 {
  display: block;
  line-height: 50px;
  margin: 0 auto 43px;
}
.contact-info-details .fa {
	font-size:60px;
}
.contact-info-box {
	padding:20px 25px;
}
.contact-info-details h5 {
	font-size:21px;
	line-height:35px;
}
.contact-info-details {
	padding-bottom:10px;
}
.g-map-m .gmap{
	height:494px;
}
.footer-social-tab {
	margin-bottom:60px;
	margin-top:60px;
}
.footer-social-tab a {
	margin:0 15px;
}
.footer-logo-text p {
	font-size:202px;
	line-height:115px;
	text-align:center;
}
.copyright {
	padding:20px 0;
}
.newslette-iframe {
  height: 180px;
}
.blog_wrap h5 {
  font-size: 18px;
  line-height: 22px;
  margin: 0 auto 10px;
}
.grid_view .video_post iframe {
	width:100%;
	height:140px;	
}
#about .about-carousel {
	margin-top:0px;
}	
.event_img {
  margin: 0 auto 10px;
}
.about_info_m h5 {
  font-size: 20px;
  margin: 0 auto 5px;
}
.about_info_m p {
	font-size:14px;
	line-height:26px;
}
.about-section-3 .event_img {
  clear: both;
  margin: 0 auto 30px;
}
.registration-price-2 .table-price-detail ul {
  text-align: center;
}
.registration-price-3 .table-price-detail {
	overflow:hidden;
	width:100%;
}
.table_btn {
  display: block;
  padding: 40px 20px;
  width: 100%;
}
.venue_style3 .contact-info-box {
  bottom: 25px;
}
.schedule_info2 .conf-user-info {
  width: 470px;
}
.schedule_style3 .conf-user-info {
  width: 500px;
}
.schedule_style3 .nav.nav-tabs > li > a {
  font-size: 22px;
  padding: 10px;
}


}


@media (max-width:767px) {
.mobile_comment{
	display:block !important;
}
.desktop_comment{
	display:none;
}	
.content-box-module-detail ul{
	display: block !important;
}	
.content-box-module-detail ul li {
	width: 100% !important;
}
.listing-sidebar .sidebar_wrap {
    border-bottom: 1px solid #eeeeee;
    margin: 0 -3px 0px !important;
    padding: 0 !important;
}	
header {
    padding: 40px 0px 0px;
}	
.tdata{
	margin: 0 15px;
}	
.navbar-collapse{
	overflow:auto;
	height: 400px;
}	
.logo {
    text-align: left !important;
}
.navbar-toggler {
    margin: 3px auto 0px;
    border: none;
    padding: 0px;
}
.navbar-toggler {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: -47px;
    margin-right: 15px;
    margin-bottom: 8px;
	color: #fff;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	font-size: 25px;
}	
.nav > li > a{
	padding: 10px;
}
#slideshow .slides .banner-content .content{
	width:95% !important;
	margin: 5% auto !important;
}	
#slideshow .slides .banner-content .content .banner-tagline h1{
	font-size: 2em !important;
}
.banner-content .content{
	width:95% !important;
	margin: 5% auto !important;
}	
.banner-content .content .banner-tagline h1{
	font-size: 2em !important;
}
.map-directions a {
    border: solid 1px #de302f;
	padding: 5px 10px !important;
	display: inline-block;
	background:  #fff;
	font-size: 12px !important;
}
.map-directions {
    position: absolute;
    top: 655px !important;
    right: 25px !important;
    z-index: 9;
}
.footer-sd .logo{
	text-align:center !important;
}
.copyright-text {
	padding: 20px;
}
.popular-link, .latest-newpost{
	padding:0 30px;
	margin-bottom:30px;
}
.gt-information > li {
	padding: 5px !important;
}
.banner-fixed{
	height:70vh !important;
}
.slides{
	height: 70vh;
}
.navbar-nav {
    display: block;
    background: #000;
    margin-top: 10px;
}	
.navbar-nav > li {
    display: block;
    vertical-align: top;
    margin: 0 auto;
}	
#menu-toggle-close {
	text-align:left;
	display:block;
}
.modal-dialog {
  width: 90%;
  margin: 2.5rem 3px;
}
.modal-dialog .form-control, .modal-dialog input[type="text"], .modal-dialog input[type="email"], .modal-dialog input[type="url"], 
.modal-dialog input[type="password"], .modal-dialog input[type="search"] {
  font-size: 14px;
  height: 48px;
  padding: 0 15px;
}
.form-group {
  margin: auto auto 15px;
}
.btn {
  font-size: 20px;
  padding: 17px 50px;
}
.modal h3 {
  font-size: 28px;
  margin-bottom: 15px;
}
.padding_4x4_40 {
  padding: 25px;
}
h1 {
	font-size:52px;	
}
h2 {
	font-size:44px;
}
h5 {
	font-size:24px;
}
nav.navigation ul.nav.navbar-nav {
	height:400px;
	overflow-Y:auto;
}
nav.navigation ul li {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  padding: 10px 0;
}
nav.navigation ul li a {
	display:inline-block;
}
nav.navigation.active {
	height:100%;
}
.info-text span {
	display:block;
	font-size:25px;
	text-align:center;
}
.info-text span {
	font-size:22px;
}
.banner-tagline {
  padding-top: 130px;
}
.logo .center-block {
  display: inline;
}
.banner-content h1 {
	font-size:46px;
}
.about-carousel.border-box {
  margin-bottom: 0;
}
.counter-sec {
  margin: 0 -15px;
  padding: 0;
  position: relative;
}
.conference-start-box h2 {
	line-height:55px;
}
.width50-right, .width50-left {
  float: none;
  margin: 0 auto;
  max-width: 90%;
  padding: 0px !important;
}
.half-width {
	float:none;
	width:100%;
}
.countdown-amount::after {
	right:0;
}
.countdown-amount {
	font-size:36px;
	margin:0 auto;
	padding:8px 0;
	width:120px;
}
.countdown-period {
	font-size:18px;
}
.btn.btn-lg {
	font-size:25px !important;
	padding:25px 10px;
	width:100%;
}
.btn.btn-lg::after {
	font-size:24px;
}
.countdown-counter {
	padding:12px 0;
}
.section-padding {
	padding:80px 0;
}
.conference-time-list {
  padding: 20px 0;
}
p {
	font-size:16px;
	line-height:28px;
}
.section-header {
	margin-bottom:40px;
}
.about-content p {
	margin-bottom:20px;
}
.spekers-tickets-box {
	margin-bottom:20px;
}
.conference-start-box > p {
	width:100%;
}
.spekers-tickets-info {
	height:185px;
	margin:0 3%;
	width:185px;
	font-size:22px;

}
.spekers-tickets-info .fa {
	font-size:44px;
}
.conference-price > p {
  display: inline-block;
}
.section-conference-bg {
	height:100%;
	width:100%;
}
.vc_row {
	display:block;
}
.section-overlay {
	height:100%;
	width:100%;
}
.conference-content-box {
	position:relative;
	z-index:1;
}
.conference-price {
	padding:20px 0;
}
.btn-lg-boder-w {
	font-size:32px !important;
	line-height:53px;
	padding:10px 48px;
}
.regi-price-table {
	margin-left:auto;
	margin-right:auto;
	max-width:560px;
}
.faq-box-m {
	padding-right:0;
	position:relative;
	z-index:1;
}
.section-faq-bg {
	bottom:0;
	height:40%;
	top:inherit;
	width:100%;
}
.section-right-overlay {
	bottom:0;
	height:40%;
	top:inherit;
	width:100%;
}

.vodeo-icon-box {
	margin-top:40px;
	overflow:hidden;
}
.subscribe-form > h2 {
	display:block;
	margin-bottom:20px;
	margin-right:0px;
}
.form-group.newsletter-input {
	margin-bottom:30px;
}
.sponsors-list li {
	margin-bottom:31px;
	margin-left:12px;
	margin-right:12px;
}
.sponsors-list img {
	max-width:100%;
}
.border-box {
	margin-bottom:50px;
}
.contact-info-box {
	padding:50px;
}
.g-map-m .gmap {
	height:500px;
}
.conf-user-time {
	padding:15px 0;
	width:74px;
}
.conf-user-time span.time {
	font-size:24px;
	line-height:40px;
}
.time-schedule {
	font-size:16px;
	text-align:center;
}
.conf-user-img {
	float:left;
	padding:9px;
	width:75px;
}
.conf-user-info {
	padding:15px 5px;
	width:66%;
}
.conf-user-content {
	padding-top:10px;
}
.conf-close {
  font-size: 20px;
  height: 32px;
  line-height: 32px;
  right: 8px;
  top: 38px;
  width: 32px;
}
.speaker-info-box {
	margin:0 auto;
}
.speaker-info {
	margin-bottom:10px;
	padding:10px 0;
}
.spearker-img img {
  width: 100%;
}
.speaker-sec {
  margin: 0 auto;
  max-width: 460px;
}
.footer-social-tab {
	margin-bottom:40px;
	margin-top:51px;
}
.footer-social-tab a {
	font-size:25px;
	height:50px;
	line-height:48px;
	margin:6px;
	width:50px;
}
.footer-logo-text p {
	font-size:76px;
	line-height:46px;
	text-align:center;
}
.copyright {
	padding:20px 0;
}
.newslette-iframe, .subscribe-newsletter {
  height: 65px;
}
.blog_wrap {
  margin-bottom: 80px;
}
.blog_wrap h3 {
  font-size: 26px;
}
.view_one p {
  font-size: 16px;
  line-height: 30px;
}

.quote_post .blog_img blockquote {
	padding:30px;	
}
.video_post iframe {
  height: 300px;
  width: 100%;
}
.quote_post .blog_img blockquote p {
	font-size:18px;
}
.share_article {
  margin-top: 20px;
  text-align: left;
}
.commentlist li img.avatar {
  height: 50px;
  margin-right: 15px;
  width: 50px;
}
.comment-body h1, .comment-body h2, .comment-body h3, .comment-body h4, .comment-body h5, .comment-body h6, .comment-body table, .comment-body ul, .comment-body ol, .comment-body blockquote, .comment-body dl, .comment-body address, .comment-body pre, .comment-body p, .comment-body .reply {
  margin-left: 70px;
}
.comment-body p {
  font-size: 14px;
  line-height: 23px;
}
.comment ul.children {
  padding-left: 60px;
}
.comment-respond {
  margin-bottom: 100px;
}
.sidebar_wrap {
	margin:80px 0 0 !important;
}
.event_img {
  margin: 0 auto 20px;
  overflow: hidden;
}
.about_info_m {
  margin-bottom: 60px;
}
.registration-price-3 .table-price-detail {
  overflow: hidden;
  width: 100%;
}
.registration-price-3 .table-price-detail ul li {
  float: none;
  width: 100%;
}
.table_btn {
  display: block;
  padding: 30px 20px;
  width: 100%;
}
.registration-price-3 .table-price-box, .registration-price-3 .table-price-detail {
	display:block;
	width:100%;
}
.venue_style3 .contact-info-box {
  bottom: inherit;
  left: 0;
  margin: 10px 15px 50px;
  position: relative;
  right: 0;
  width: auto;
}
.schedule_info2 .nav.nav-tabs > li > a {
  padding: 20px;
}
.schedule_info2 .conference-time-list {
  display: block;
  margin: 0 auto 14px 0;
  overflow: hidden;
  width: 100%;
}
.schedule_info2 .conf-user-time {
  height: auto;
  margin-left: 0;
  padding: 20px;
  width: auto;
}
.schedule_info2 .conf-user-info {
  width: 48%;
}
.schedule_style3 .conf-user-img {
  margin: 20px;
}
.schedule_style3 .conf-user-info {
  width: 65%;
}
.schedule_info2 .conf-user-time {
	margin-right:0px;
}
.schedule_info2 .conf-user-img {
  float: left;
  margin-left: 20px;
  width: 70px;
}
.schedule_info2 .conf-user-info {
  clear: both;
  float: none;
  position: relative;
  width: 100%;
}
.schedule_info2 .conf-user-time {
  float: left;
  margin-left: 0;
  padding: 15px;
  width: 118px;
}

}



@media (max-width:479px) {

.banner-content h1, h1 {
  font-size: 40px;
}
h2 {
	font-size:33px;	
}
.info-text {
	display:none;
}
.countdown-amount {
	font-size:26px;
	width:72px;
}
.countdown-period {
	font-size:16px;
}
.banner-tagline p {
	font-size:18px;
	margin-top:10px;
}
.btn.btn-lg {
	width:100%;
}

.spekers-tickets-info {
	font-size:19px;
	height:136px;
	margin:0 1%;
	width:136px;
	padding:23px 10px;
	line-height:50px;
}
.spekers-tickets-info .fa {
	font-size:39px;
}
.conference-content-box p {
	font-size:16px;
}
.btn-lg-boder-w {
	font-size:26px !important;
	line-height:42px;
	padding:8px 28px;
}
.conference-amount {
	font-size:30px;
	line-height:42px;
}
.day-time-m li {
  border: 2px solid hsl(0, 0%, 100%);
  font-size: 16px;
  margin: 0 5px;
  padding: 0;
}
.day-time-m li a {

  padding: 3px 12px;
}
.day-time-m li.active::after {
	top:37px;
}
.day-time-m {
	padding-bottom:40px;
}
.conf-user-time {
  float: none;
  margin: 0 auto 10px;
  padding: 14px 2% 10px;
  text-align: left;
  width: 100%;
}
.conference-time-list {
  padding: 10px 0;
}
.conf-user-time span.time {
	display:inline-block;
	font-size:35px;
	line-height:40px;
	text-align:center;
}
.time-schedule {
	display:inline-block;
	font-size:16px;
	text-align:center;
}
.conf-user-img {
	float:left;
	padding:4px 4% 4px 0;
	width:22%;
}
.conf-close {
  font-size: 20px;
  height: 32px;
  right: 7px;
  top: 27px;
  line-height: 32px;
  width: 32px;
}
.conf-user-info {
	padding:6px 0 25px;
	width:78%;
}
.conf-user-content {
	padding-top:15px;
}
.conf-user-content p {
	font-size:15px;
	line-height:27px;
}
.table-price-box, .table-price-detail {
  display: block;
  padding: 13px 20px;
  width: 100%;
}
.table-price-box h5 {
	font-size:24px;
	margin-bottom:8px;
}
.regi-price-box {
	padding-top:16px;
}
.regi-price-box p {
	font-size:41px;
	line-height:42px;
}
.table-price-detail ul {
	padding-left:0;
}
.table-price-detail li {
	font-size:18px;
}
.btn-lg-boder-r {
	font-size:26px !important;
	line-height:40px;
	padding:10px 30px;
}
.panel-title a {
	font-size:16px;
	line-height:50px;
}
.sport-video-box > h2 {
	font-size:36px;
	line-height:51px;
}
.vodeo-icon-box a {
	font-size:40px;
}
.form-group.newsletter-input {
  margin: 0 0 10px;
  width: 100%;
}
.newsletter-btn {
  font-size: 22px;
  height: 55px;
  padding: 3px 36px;
}
.contact-info-box {
	padding:20px;
}
.contact-info-details > h5 {
	font-size:19px;
	line-height:31px;
}
.direction-icon {
	margin-bottom:5px;
}
.g-map-m .gmap {
	height:310px;
}
.newsletter-btn {
  float:right;
  left: 0;
  margin-top: -70px;
}


}
/************** NEW *********************/
.banner-content .content {
    text-align: center;
    border: 1px solid #FFF;
    padding: 0.5em;
    width: 50%;
    position: relative;
    margin: 1.5% auto;
}
.banner-content {
    display: block;
    background: url(../images/opaqueBG.png) repeat 0 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.banner-content .content .banner-tagline {
    margin: 0 auto;
    border: 1px solid #FFF;
    width: 100%;
    padding: 1em;
}
.banner-content .content .banner-tagline h1 {
    font-size: 4em;
    margin: 0;
}
#slideshow .slides .banner-content .content {
    text-align: center;
    border: 1px solid #FFF;
    padding: 0.5em;
    width: 50%;
    position: relative;
    margin: 0% auto;
}
#slideshow .slides .banner-content {
    display: block;
    background: url(../images/opaqueBG.png) repeat 0 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
#slideshow .slides .banner-content .content .banner-tagline {
    margin: 0 auto;
    border: 1px solid #FFF;
    width: 100%;
    padding: 2em;
}
#slideshow .slides .banner-content .content .banner-tagline h1 {
    font-size: 4em;
    margin: 0;
}
.banner-content h1 {
    font-size: 90px;
    color: #fff;
}
.gt-information {
    list-style: none;
    padding: 0px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top-width: 1px;
    border-style: solid none none;
    border-color: #de302f;
    color: #fff;
    margin: 1em 0 0 0;
}
.gt-information > li {
    padding: 15px;
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0px 15px;
}
.gt-information > li i {
    font-size: 20px;
    margin-right: 10px;
    color: #de302f;
}
.banner-content {
    padding: 140px 0;
}
.service-box .gt-title h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.service-box p {
    color: #888888;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
}
.home-title {
    margin-top: 60px;
}
.gt-title {
    margin-top: 25px;
}
.service-box {
    text-align: center;
	margin: 30px 0;
}
.gt-icon{
    border: 2px solid #de302f;
    border-radius: 50%;
    height: 125px;
    width: 125px;
    margin: 0 auto;
    position: relative;
}
.gt-icon .fa{
    font-size: 2.65em;
    color: #de302f;
    position: relative;
    top: 32%;
}
.about-section h2, .popular-event h2{
	margin-bottom:5px;
}
.gray-bg {
    background: #f7f7f7;
}
.recent-tab {
    margin: 40px auto;
    text-align: center;
}
.recent-tab ul.nav-tabs {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: inline-block;
}
.nav.nav-tabs {
    border: medium none;
}
.nav-tabs {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs>li {
    position: relative;
    display: block;
    padding: 0 0;
}
.recent-tab .nav-tabs>li {
	float:left;
}
.nav-tabs>li {
    margin-bottom: -1px;
}
.recent-tab .nav.nav-tabs li a {
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
}
.recent-tab .nav.nav-tabs li a.active {
    color: #ffffff;
    border-radius: 30px;
    font-weight: bold;
    padding: 10px 20px;
}
.recent-tab .nav.nav-tabs li a.active::after {
    border-style: solid;
    border-width: 12px;
    bottom: -23px;
    content: "";
    height: 8px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 12px;
}
.recent-tab .nav.nav-tabs li a.active::after {
    border-color: #fa2837 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}
.event_inner {
    margin-bottom: 30px;
}
.event_inner {
    box-shadow: #ddd 0 0 8px 5px;
}
.event_inner {
    margin-bottom: 30px;
}
.event_inner {
    box-shadow: #ddd 0 0 8px 5px;
}
.listing-thumb img {
    width: 100%;
    height: 240px;
    display: block;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}
.event-status {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    font-size: 12px;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    color: #fff;
    background: #de302f;
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: 500;
}
.event-price {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 20px;
    font-size: 12px;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    color: #FFFFFF;
    padding: 7px 20px;
    border-radius: 25px;
    font-weight: 500;
    background: #de302f;
}
.event_icon {
    position: absolute;
    list-style: none;
    top: 200px;
    right: 20px;
}
.event_icon li {
    display: inline-block;
    position: relative;
    background: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: right;
    margin: 0 5px;
    text-align: center;
}
.event_icon li a .fa {
    padding: 7px;
    color: #de302f;
}
.event_body__BfZIC {
    border: 1px solid #e7e7ed;
    margin-bottom: 1px;
}
.event_body__BfZIC {
    padding: 25px 20px 38px;
}
.event_calendar__2x4Hv {
    padding: 10px 0;
    text-align: center;
    float: left;
    margin-right: 18px;
}
.color-primary {
    color: #de302f !important;
}
.event_month__S8D_o {
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    line-height: normal;
}
.event_date__2Z7TH {
    display: block;
    font-size: 24px;
    color: #485273;
    line-height: normal;
}
.event_content__2fB-4 {
    overflow: hidden;
}
.event_title__3C2PA {
    font-size: 20px;
    margin: 0;
    margin-bottom: 3px;
}
.event_title__3C2PA {
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    margin-bottom: 10px;
}
.event_title__3C2PA a {
    color: inherit;
}
.event_meta__CFFPg {
    font-size: 13px;
    color: #9ea6ba;
}
.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
}
.event_content__2fB-4 ul li {
    width: 100%;
    display: inline-block;
    margin: 0;
    float: left;
    font-size: 13px;
    color: #9ea6ba;
    line-height: 1.78;
}
.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.event_meta__CFFPg span {
    margin-right: 20px;
    margin-bottom: 5px;
    color: #777777;
}
.event_meta__CFFPg .fa {
    margin-right: 8px;
    color: #de302f;
}
.event_icon .dp_social_share li {
    width: auto;
    height: auto;
    float: left;
    border: none;
    border-radius: unset;
    background: none;
}
.dp_social_share{
	min-width: 9rem;
}
.dp_social_share>li>a{
    font-size: 12px;
	padding:5px 0px !important
}
ul.dp_social_share li{
	padding: 5px 10px;
}
.popular-event{
	padding: 90px 0;
}

.sponsor-section .heading-sec h2{
    color: white;
    position: relative;
    z-index: 5;
}
.sponsor-section{
	background-image: url(../images/sponser-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}
.z-index{
	z-index:5;
	position: relative;
}
.image-grid-inner {
    padding: 25px;
    margin-bottom: 30px;
    border: 1px solid #ffffff00;
    border-radius: 10px;
}


	
.event-featured {
    width: 30px;
    height: 40px;
    background: #FB0;
    position: absolute;
    right: 35px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    box-shadow: inset 0 3px 10px #FF8500;
    -moz-box-shadow: inset 0 3px 10px #FF8500;
    -webkit-box-shadow: inset 0 3px 10px #FF8500;
    margin-bottom: -40px;
    margin-top: -0;
    z-index: 10;
    top: 0;
}	
#testimonial_slider .item {
    border: #ccc solid 1px;
    padding: 26px;
    margin: 1px 15px;
}
.testimonial_head {
    overflow: hidden;
    margin: 0 0 15px;
}
#testimonial_slider .item p {
    font-size: 16px;
    line-height: 30px;
    color: #555;
}
#testimonial_slider .item p {
    font-size: 16px;
    line-height: 30px;
    color: #555;
}
#testimonial_slider .item h5 {
    margin: 8px 0 10px;
    color: #de302f;
}
small {
    color: #545454;
    display: block;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    margin: 0 0 18px;
}
.testimonial_img img {
    max-width: 100%;
    border-radius: 50%;
}
.testimonial_img {
    float: left;
    width: 80px;
    margin: 0 25px 0 0;
    height: 80px;
    overflow: hidden;
}
.blog_wrap h4{
    font-size: 22px;
    font-weight: 500;
    margin: 10px auto;
}
.footer-td {
    background: #111111;
    padding: 60px 0;
}
.latest-post {
    list-style: none;
    margin: 0;
    padding: 0;
}
.latest-post li {
    margin-bottom: 10px;
    display: flex;
}

.post-wp {
    margin: 0 auto 40px;
}
.latest-post .post-img-wp {
    overflow: unset;
    border-radius: 3px;
    margin: 0 0 20px 0px;
}
.latest-post .center-block {
    max-width: 90px;
    border-radius: 10px;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.latest-post .post-wp h4 {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    padding-left: 15px;
    margin: 0;
}
.latest-post .post-wp h4 a {
    color: #fff;
}
.latest-post .content p {
    padding-left: 15px;
    font-size: 15px;
}
.latest-post .content p .fa {
    color: #de302f;
    padding-right: 10px;
}
.latest-post .post-wp h4 a:hover {
    color: #de302f;
}
.footer-news .social_links {
    margin: 40px 0;
    padding: 0px;
}
.social_links li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0px;
}
.social_links li a {
    display: block;
    color: #fff;
    margin: 0 18px 0 0;
    font-size: 20px;
}
#menu-footer-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu-footer-menu li {
    padding: 0 15px;
    margin: 0 auto 10px;
}
#menu-footer-menu li a {
    color: #fff;
}
#menu-footer-menu li a::after {
    content: "";
    font-family: fontawesome;
    left: 15px;
    position: absolute;
    right: 0;
    vertical-align: middle;
}
.footer-sd {
    background: #000;
    padding: 20px 0;
}
.logo {
    text-align: center;
}
.copyright-text {
    text-align: right;
}
.footer-news .social-title {
    padding: 0;
}
.event_detail {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
    margin: 50px 0 30px;
    background: #fff;
    padding: 0;
}
.content-box_body .comment-form{
	margin: 0;
}
.event_schedule .gt-icon{
	border: none;
    height: auto;

}
.content-box-module {
    width: 100%;
    display: block;
}
.content-box-module .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.content-box-module .nav-tabs > li {
    position: relative;
    display: inline-flex;
    flex: 1;
	z-index:5;
}
.content-box-module .nav-tabs > li > a, .content-box-module .nav-tabs > li > a:visited {
    color: #4a4a4a;
    padding: 20px 23.2px;
    display: block;
    /* border-right: 1px solid #eee; */
    position: relative;
    /* border-bottom: 1px solid #EAEAEA; */
    width: 100%;
    font-weight: 600;
}
.content-box-module .nav-tabs > li > a.active:after {
    background: #de302f;
    height: 3px;
}
.content-box-module .nav-tabs > li > a:after, .content-box-module .nav-tabs > li > a:visited:after {
    height: 0;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0;
    content: '';
    display: block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
}
.content-box_title {
    width: 100%;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    color: #485273;
    font-size: 13px;
    line-height: 1.3em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.content-box_title {
    border-bottom: 1px solid #f3f3f6;
    padding: 13px 15px;
    background-color: #fff;
}
.content-box_title .eve_title {
    line-height: 55px;
    font-weight: 800;
}
.content-box_title i {
    font-size: 17px;
    color: #9ea6ba;
    margin-right: 10px;
    vertical-align: middle;
}
.like_btn {
    float: right;
    margin: 10px 0;
}
.batn {
    border: 1px solid #e7e7ed;
    color: #70778b;
    background-color: transparent!important;
}
.batn {
    border-radius: 3px;
}
.batn {
    padding: 6px 15px;
    min-width: 55px;
    font-size: 13px;
}
.batn {
    display: inline-block;
    box-shadow: none;
    outline: 0;
    margin: 0;
    text-align: center;
    background-color: #252c41;
    transition: all .3s ease;
    text-decoration: none;
    vertical-align: middle;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: .01em;
    font-family: Poppins,sans-serif;
    font-weight: 500;
}
.gt-content-detail-box > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.gt-content-detail-box > ul > li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
.gt-content-detail-box > ul > li > .gt-icon {
    font-size: 10px;
    padding: 15px;
    width: 60px;
    color: #de302f;
    height: 60px;
    border: none;
}
.gt-content-detail-box > ul > li > .gt-content {
    width: 100%;
    line-height: 20px;
}
.gt-content-detail-box > ul > li > .gt-content > .gt-title {
    text-transform: uppercase;
    margin-bottom: 2px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
}
.gt-title {
    margin-top: 15px;
}
.gt-content-detail-box > ul > li > .gt-content > .gt-inner {
    font-size: 12px;
    color: #888888;
}
.event_status::after {
    position: absolute;
    top: 807px;
    border: 0;
    font-size: 32px;
    left: 55px;
    content: "\f058";
    font-family: fontawesome;
    color: #de302f;
}
.content-box_body p{
    font-size: 14px;
}
.content-box_body {
    padding: 15px 20px;
	margin : 35px 0 10px 0;
}
.about-image img{
	margin-bottom:30px;
}
.sponsor_img {
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    padding: 25px 15px;
}
.sponsor-content-detail{
	padding: 10px 25px;
}
.speakers{
    margin-top: 40px;
}
.schedule_event {
    background: #de302f;
    margin: 40px 0;
    padding: 15px;
}
.schedule_event .schedule_info2 .conf-user-info {
    width: 450px;
}
.schedule_event .conf-user-info h6 {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
}
.schedule_event .conf-user-info h5 {
    color: #fff;
}
.schedule_event .schedule_info2 .conference-time-list{
	width:93%;
}
.schedule_event .conf-close {
    background: #000 none repeat scroll 0 0;
}
.schedule_event .schedule_info2 .nav.nav-tabs > li > a{
	color: #000;
}
.schedule_event .schedule_style2 .nav.nav-tabs > li a.active{
	background: #de302f;
	color: #fff;
}
.schedule_event .schedule_style2 .nav.nav-tabs > li a.active::after {
    border-color: #de2f2f rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 12px;
    content: "";
    height: 12px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: -24px;
    width: 12px;
}
.event_tickets {
	padding: 30px 20px 20px;
}
.event_tickets .table-price-box {
    display: block;
	width: 100%;
}
.event_tickets .secondary-bg{
	background: #de302f;
	color: #fff;
}
.event_tickets .regi-price-box {
    border-top: 1px solid #fff;
}
.event_tickets .regi-price-box p{
	color: #fff !important;
}
.event_tickets .border-box {
    border: 12px solid #e69b9b;
    overflow: hidden;
}
.map-directions {
    position: absolute;
    top: 140px;
    right: 35px;
    z-index: 9;
}
.map-directions a {
    border: solid 1px #de302f;
    padding: 8px 15px;
    display: inline-block;
    background: #fff;
}
.map-directions a .fa {
    margin-right: 5px;
}
.venue {
    padding: 20px 20px 0;
}
.venue i {
    padding: 0 10px;
    color: #de302f;
}
.venue a {
    color: #000;
    font-size: 15px;
    font-weight: 500;
}
.singlemap {
    height: 350px;
    margin: 20px 0;
}
.event_contact {
    padding: 30px 20px 20px;
}

.gallery_style3 a {
    display: block;
    background: #000;
    margin: 0 auto 30px;
    position: relative;
}
.event_contact .gallery_style2 img, .event_contact .gallery_style3 img {
    height: 200px;
}
.gallery_style2 a img, .gallery_style3 a img {
    max-width: 100%;
    opacity: 1;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
}
h3.model-title{
	font-size: 25px;
    float: left;
    text-align: left;
    margin: 0;
}
.checkbox span{
	margin-left: 10px;
}
.coming-logo{
    padding: 20px;
}
.remove-fav {
    position: absolute;
    right: 0px;
    top: -15px;
    right: 7px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 9;
    text-align: center;
    line-height: 30px;
    color: #ff0000;
    box-shadow: 0px 0px 5px #ccc;
}
label{
	font-weight:bold;
	margin-left: 5px;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 20px;
    margin: 0;
}
.content-box-module-detail ul {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: flex;
}
.nav-tabs {
    border-bottom: none !important;
}
.nav-tabs {
    border: none !important;
}

.content-box-module-detail ul li.active {
    color: #de302f;
   
}
.content-box-module-detail ul li {
    width: 20%;
    text-align: center;
    font-weight: 600;
    margin: 0 auto;
}
.nav-tabs .active {
    color: #de302f;
    /* -webkit-text-fill-color: #de302f; */
}
.nav-tabs li {
    color: #000;
    -webkit-text-fill-color: #000;
}
.content-box-module-detail ul li a {
    color: #505050;
    padding: 20px 15px;
    display: block;
    border-bottom: transparent solid 3px;
}
.content-box-module-detail {
    margin: 0 auto 0;
    max-width: 1140px;
    background: #ffefef;
    position: relative;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
.listing-sidebar {
    padding: 25px;
    border-radius: 6px;
    border: rgba(0, 0, 0, 0.1) solid 1px;
    margin: 0 auto 20px;
    overflow: hidden;
}
.sidebar_wrap:last-child {
    border: 0px;
    margin-bottom: 0px;
}
.listing-sidebar .sidebar_wrap {
    /* border-bottom: 1px solid #eeeeee; */
    margin: 0 -30px 0px;
    padding: 0 30px 0px;
}
.listing_action_btn {
    overflow: hidden;
}
.listing-sidebar ul {
    padding: 0px;
    margin: 0;
    list-style: none;
}
.listing_action_btn li {
    border: 1px solid #eeeeee;
    float: left;
    font-size: 13px;
    height: 120px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
    width: 140px;
    margin-right: 9px;
	margin-bottom: 10px;
}
.listing_action_btn li a {
    color: #555;
    display: block;
    padding: 20px 8px;
    cursor: pointer;
}
.listing_action_btn a:hover, .listing_action_btn a:focus, .listing_action_btn a:active {
    background-color: #de302f !important;
    color: #fff;
    border-color: #fff;
}
.listing_action_btn .fa {
    display: block;
    font-size: 53px;
    margin: 0;
    opacity: 0.5;
    transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
}
.listing_action_btn a:before {
    background: #de302f;
}
.listing_action_btn a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #de302f;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.listing_action_btn .event_schedule li {
    height: 140px;
}
.event_schedule li .gt-content{
	padding: 5px 0;
}
.event_schedule li .gt-title{
	padding: 5px 0 0;
    margin-top: 5px;

}
.sidebar-heading {
    background: #e9e9e9;
    padding: 25px;
    margin: -25px -25px 20px;
}
.sidebar-heading h5 {
    margin: 2px auto;
    font-size: 19px;
    text-transform: uppercase;
    font-weight: 500;
}
.sidebar-heading h5 .fa{
	padding-right: 10px;
}
.share_listing a {
    border: 1px solid #de302f;
    border-radius: 50%;
    height: 42px;
    line-height: 40px;
    margin: 0 3px 0 0;
    text-align: center;
    width: 42px;
    display: inline-block;
    font-size: 20px;
}
.share_listing a .fa{
	display: inherit;
    font-size: 20px;
	opacity: 1;
}
.event_detail_sidebar {
    margin: 50px 0;
    background: #fff;
    padding: 0;
}
.listing_action_btn .batn span {
    display: block !important;
}
.listing_action_btn .batn{
	border:none;
}
.event_icon a .sl-counts{
	display:none;
}
.listing_action_btn .gt-icon .fa{
	color: #de302f;
	opacity: 1;
}
.mobile_comment{
	display:none;
}

li.dropdown-submenu, li.dropdown-subsubmenu{
	position: relative;
}

.navbar-nav li.dropdown .dropdown-menu li.dropdown-submenu .dropdown-menu{
	display:none;
}
.navbar-nav li.dropdown .dropdown-menu li.dropdown-submenu:hover .dropdown-menu{
	display:block;
	left:100%;
	top: -1px;
	width: 20rem;
}
.navbar-nav li.dropdown .dropdown-menu li.dropdown-submenu .dropdown-menu li.dropdown-subsubmenu .dropdown-menu{
	display:none;
}
.navbar-nav li.dropdown .dropdown-menu li.dropdown-submenu .dropdown-menu li.dropdown-subsubmenu:hover .dropdown-menu{
	display:block;
	left:100%;
	top: -1px;
}
.owl-pagination{
	display:none
}